html {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    background: url(https://global-uploads.webflow.com/5d1bbed6f5f316054878a457/5d72773232ada490823bfa85_V0201522_N3_cropped_1920x860.jpg);
    font-family: 'Athiti', sans-serif;
    font-size: 15px;
    line-height: 3.5rem; 
    height: 100%;
}

text {
    margin: 1rem;
}

button {
    border-radius: 0.6rem;
    border: 0rem #fff;
    background: #fff;
    padding: 1rem;
    margin: 0 1rem 0 1rem;
    font-size: 0.85rem;
    font-weight: 500;
}

button:hover {
    font-weight: 700;
    padding: 1.3rem;
    margin: 0 0.7rem 0 0.7rem;
}

#quote-box {
    display: block;
    background:rgba(600, 600, 600, 0.85);
    max-width: 50rem;
    padding: 1rem;
    border-radius: 1.3rem;
    margin: auto;
    align-items: center;
}

#text {
    display: block;
    font-size: 4rem;
    font-weight: bold;
    text-align: left;
    padding: 0.5rem;
    background: url(https://global-uploads.webflow.com/5d1bbed6f5f316054878a457/5d72773232ada490823bfa85_V0201522_N3_cropped_1920x860.jpg);
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#quote-icon {
    display: inline-block;
    font-size: 2.5rem;
    padding: inherit;
    background: inherit;
    background-attachment: inherit;
    -webkit-text-fill-color: inherit;
    -webkit-background-clip: inherit;
}

#author {
    display: block;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: right;
}

#buttons {
    display: inline-flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
}

#tweet-quote {
    display: inline-flex;
    font-size: 2rem;
    padding: 0.5rem;
    background: url(https://global-uploads.webflow.com/5d1bbed6f5f316054878a457/5d72773232ada490823bfa85_V0201522_N3_cropped_1920x860.jpg);
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

#tweet-quote:hover {
    font-size: 2.2rem;
    padding: 0.3rem;
}